[package]
name = "ructe"
version = "0.6.4"
authors = ["Rasmus Kaj <kaj@kth.se>"]
description = "Rust Compiled Templates, efficient type-safe web page templates."
documentation = "https://docs.rs/ructe"
repository = "https://github.com/kaj/ructe"
readme = "README.md"
keywords = ["web", "templating", "template", "html"]
categories = ["template-engine", "web-programming"]
license = "MIT/Apache-2.0"

[features]
sass = ["rsass"]
mime02 = []
mime03 = ["mime"]

[dependencies]
base64 = "^0.10.0"
bytecount = "0.5.1"
itertools = "^0.8.0"
lazy_static = "1.0"
md5 = "0.6"
nom = { version = "4.1.1", features = ["verbose-errors"] }

rsass = { version = "0.9.8", optional = true }
warp = { version = "0.1.9", optional = true }
mime = { version = "0.3", optional = true }

[badges]
travis-ci = { repository = "kaj/ructe" }
maintenance = { status = "actively-developed" }
