// A simple sass file that references a static file.

body {
    background: static_name("burlap.jpg");
}

// For importing, paths are relative to the file containing the @import.
@import "foo.scss";
