@use super::statics::*;
@use super::intermediate_html;

@(paras: &[(&str, usize)])
@:intermediate_html("Example", {}, {
      <figure>
        <img src="/static/@squirrel_jpg.name" alt="Squirrel!"
             width="240" height="160"/>
        <figcaption>A squirrel</figcaption>
      </figure>

      <p>This is a simple sample page,
      to be served with warp.
      It contains an image of a squirrel and not much more.</p>

      @for (order, n) in paras {
      <p>This is a @order paragraph, with @n repeats.
	@for _ in 1..=*n {
	This is a @order paragraph.
	}
      }
})
